<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OrbitCapture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF1ABB5D22283896006DB8EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF1ABB6D22283897006DB8EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF1ABB7822283897006DB8EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
